@font-face {
  font-family: AgeFont;
  src: url(./fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: SiteFont;
  src: url(./fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: ProductsF;
  src: url(./fonts/Poppins-SemiBold.ttf);
}

* {
  font-family: "SiteFont";
}

.footer {
  background-color: #060f30;
  height: 120px !important;
  margin: auto 1rem -60px;
  height: 60px;
}

:root {
  --leftSize: 70%;
  --rightSize: 30%;
}

.bg-nav {
  background-color: #73affd;
  /* background: radial-gradient(#3580e6, #1d4ed9); */
}

header a {
  margin: auto 10px;
  cursor: pointer;
  font-size: 1.2em !important;
  font-weight: 500 !important;
  color: white !important;
}

header a:hover {
  cursor: pointer;
  font-size: 1.2em !important;
  font-weight: 900 !important;
}

.wrap {
  border-radius: 0 0 0 8px;
  padding: 0;
  margin: 0 1rem;
  position: sticky;
  top: 0px;
  z-index: 1000;
  background-color: #73affd;
  /* background: radial-gradient(#3580e6, #1d4ed9); */
  /* background-color: rgba(85, 85, 85, 0.451); */
}
.highlight {
  background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=ffff43);
}
.highlightURL {
  background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=4268a2cf);
}

div.container {
  display: flex;
}
main img {
  width: 100px;
}

.logoImage {
  aspect-ratio: 51 / 16;
  height: 51px;
  margin: 0;
  margin-left: 0px;
  margin-right: 0px;
}

.ByAge {
  user-select: none;
  font-family: "AgeFont";
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 10px auto;
  color: #67a3ff;
  margin: 1rem 3rem;
}

.GiftByAgeText {
  font-size: 26px;
}

.AgeButton {
  padding-top: 7px;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  box-shadow: 0.8px 0px 4px -1px #63a3ff;
  text-align: center;
}

.AgeButton:hover {
  padding-top: 10px;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  box-shadow: 3px 0px 10px -1px #63a3ff;
  text-align: center;
  transition: all 0.1s;
}

.AgeButton:active {
  padding-top: 10px;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  box-shadow: 0.8px 0px 3px -1px #63a3ff;
  text-align: center;
}

.age {
  padding: 0 auto;
  line-height: 30px;
  font-size: 26px;
}

.textYear {
  font-size: 14px;
  line-height: 16px;
}

.bg-body {
  background-color: #fcfcfc;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item-left {
  flex: 70%;
}

.flex-item-leftS {
  flex: 70%;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.flex-item-right {
  flex: 30%;
}

.cartMenuMax {
  padding: 2px;
  padding-bottom: 50px;
  border-radius: 0 0 8px 0;
  height: 0;
  overflow: hidden;
  position: sticky;
  top: 42px;
  width: 100%;
  transition: all 0.25s;
  box-shadow: 5px 1px 10px 0.05px #6caafb59;
  background: #f6f7fb;
}

.cartMenuMin {
  padding: 2px;
  box-sizing: border-box;
  border-radius: 0 0 8px 8px;
  height: 0;
  overflow: hidden;
  width: inherit;
  transition: all 0.5s;
  box-shadow: 5px 1px 10px 0.05px #6caafb59;
}

.cartMenu-hidden {
  transform: translateY(-50%) scaleY(0);
  right: 10px;
}

.pos1 {
  transition-property: all;
  transition-duration: 0.25s;
}

.poswidth1 {
  width: 70%;
}

.poswidth2 {
  width: 100%;
}

#CartIcon {
  border-radius: 20px 20px 0 0;
  padding-top: 5px;
  font-size: 26px;
  text-align: center;
  background-color: white;
  box-shadow: 5px 1px 10px 0.05px #6caafb59;
  z-index: 1000;
}

#CloseButton {
  text-align: end;
  font-size: 24px;
  padding: 3px;
}

#BuyButton {
  padding: 5px;
  position: absolute;
  bottom: 10px;
  width: 50px;
  right: 8px;
}

#Total {
  padding: 5px;
  position: absolute;
  bottom: 10px;
  left: 2px;
  font-weight: bolder;
}

.search {
  margin: 0px ;
  width: 100%;
}

.search:after {
  content: "";
  display: table;
  clear: both;
}

.searchTerm {
  height: 44px;
  float: left;
  box-sizing: border-box !important;
  width: 84%;
  margin-right: 0 !important;
  outline: none;
  border-radius: 0 5px 5px 5px;
  background: white;
  padding-left: 10px;
}
.searchButton {
  float: right;
  margin: 0 10px 0 0;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  width: 14%;
  margin: 0;
  height: 44px;
  background-color: white;
  line-height: 16px;
}
.searchButton:hover {
  align-items: baseline;
  transform: scale(1.05);
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  width: 14%;
  margin: 0;
  transition: transform 0.24s;
}
.cartRight {
  width: 100%;
}

.divider {
  height: fit-content;
  text-align: center;
  padding-bottom: 0;
  /* border: 1px solid black; */
}

.KidsToysStore {
  display: block;
  /* text-align: center; */
  position: relative;
  transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
  width: 80%; /* or any custom size */
  object-fit: contain;
  z-index: 200;
}

.itemFlex {
  margin: 4px 5px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.contentBody {
  background: linear-gradient(#f6f7fb, #fcfcfc);
}

.ItemImage {
  height: 50px;
}

.ItemTitle {
  word-break: break-all;
  /* border-radius: 0 4px 4px 0; */
  /* border: 1px solid black; */
  border-left: none;
  padding-left: 5px;
  flex: auto;
  /* background-color: black; */
}
.imgIcon {
  border-radius: 4px 0 0 4px;
  height: 100%;
}

.CartItemNumbers {
  margin: auto 3px 3px 3px;
  -moz-appearance: textfield;
  outline: none;
  height: 20px;
  font-size: 14px;
  border: inset;
  width: 42px;
}

#CartItems {
  height: calc(100% - 50px);
  margin-bottom: 40px;
  overflow-y: scroll;
}
#CartItems::-webkit-scrollbar {
  width: 0;
}
.cartTitle {
  height: 2em;
  font-weight: bold;
  word-wrap: break-word;
  white-space: normal;
}
#price::after {
  content: "$";
}
/* .CartItemNumbers::-webkit-outer-spin-button,
.CartItemNumbers::-webkit-inner-spin-button {
  outline: none;
  -webkit-appearance: none;
  margin: 0;
} */

.delIcon:hover {
  font-size: 1.05em;
  color: red;
  transition: all 0.3s;
}

.imageBack {
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
  background-color: #fafbff;
  /* padding-top: 100% ; */
  margin: 12px;
}
.ProductImage {
  aspect-ratio: 2383 / 2733;
}
.PrTitle {
  height: 3.3em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}
.ProductDescription {
  height: 3em;
  display: -webkit-box;
  max-width: 400px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ProductCard {
  margin: 12px;
}
.PrPrice {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}
.PrPrice::before {
  content: "$";
}
.AddToCart {
  user-select: none;
  border: none !important;
  display: block;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  font-weight: 900;
  color: white;
  background-color: #fbce20;
  box-shadow: 1px 3px #c58d00;
  font-variant: small-caps;
  cursor: pointer;
  /* text-transform: uppercase; */
  position: relative;
  height: 40px;
  /* font-variant: ; */
}

.AddToCart::before {
  font-size: 20px;
  content: "+";
  position: absolute;
  left: 0;
  top: 1px;
  display: inline-block;
  width: 38px;
  height: 38px;
  border-radius: 20px;
  padding: 3px;
  background-color: #fbce20;
  box-shadow: 2px 1px 1px 0.5px #c58d00;
  transition: all 0s;
}

.AddToCart:hover {
  color: white;
  background-color: #edc420;
  transition: all 0s;
  font-size: 1.1em;
}

.AddToCart:active {
  background-color: #d3af1e;
  box-shadow: 0 0;
  transform: translateY(2px);
  transition: all 0s;
}

.AddToCart:active:hover {
  background-color: #d3af1e;
  box-shadow: 0 0;
  transform: translateY(2px);
  transition: all 0s;
}

.backgroundImage {
  width: 100%;
  border-radius: 5px;
}

.bestCart {
  clear: both;
  height: 4em;
  /* display: table; */
  margin: 2px 10px 5px;
  padding: 4px 10px;
}

.bestCart:after {
  content: "";
  display: table;
  clear: both;
}

.bestCart .bprice {
  float: left;
}

.bestCart .button {
  float: right;
}

.bestName {
  margin-bottom: 16px;
  height: 2em;
  padding: 0 10px;
  white-space: normal;
  word-break: break-word;
  text-align: center;
}

.item {
  color: black;
  font-weight: 900;
  background: linear-gradient(#ffffff, #f6f7fb);
  border-radius: 0 0 10% 10%;
}

.bestButton {
  border-radius: 15px;
  color: white;
  border: none;
  background-color: #fbce20;
  padding: auto;
  width: 70px !important;
  height: 26px;
  box-shadow: 0.5px 0.8px 2px 1px #d9b31b;
  text-decoration: none;
  margin: auto 10px;
  float: right;
  cursor: pointer;
}
.bestButton:hover {
  border-radius: 15px;
  color: white;
  border: none;
  background-color: #fbce20;
  padding: auto;
  width: 70px !important;
  height: 26px;
  box-shadow: 0.5px 0.8px 2px 1px #957b12;
  text-decoration: none;
  margin: auto 10px;
  float: right;
}

.contentHolderImage{
  margin: auto;
  display: block;
  width: 120px;
  margin-bottom: -8px;
  margin-top: 30px;
}

.contentProducts{
  padding: 3rem 3rem 0 calc( 300px - 7rem );
  font-size: 26px;
  font-family: ProductsF;
}
/* * {
  border: 1px solid black;
} */
@media (max-width: 768px) {
  .flex-item-right,
  .flex-item-left,
  .flex-item-leftS {
    flex: 100%;
  }
  .flex-item-right {
  }
  .poswidth1 {
    width: 100%;
  }

  #cartMenu {
    position: sticky;
  }

  #cartMax {
  }
  .flex-container {
    display: block;
  }
  .searchButton {
    transform: translateY(-2px);
    font-size: 12px;
  }
  #cartMin {
    position: sticky;
    top: 88px;
    z-index: 1000;
  }

  #CartIcon {
    margin: 2px 0;
  }

  #carouselId {
    display: none;
  }
  .KidsToysStore {
    transform: translateY(0);
  }
}
