
.signup-box{
    padding-bottom: 10px;
    width: 360px;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 1px 10px 0.05px #6caafb59;
}
h1{
    text-align: center;
    padding-top: 15px;
}



form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}
input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
}
.btn-primary:hover {
    background-color: #3a9e85 !important
}

